.wrapper {
  background: rgba(88, 130, 193, 0.48);
  backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
  border: 2px solid rgba(88, 130, 193, 0.68);
}
